<table>
	<% var i; for(i=0;i<quizes.length;i++) { %>
	<tr>
		<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><%= quizes[i].tema %></td>
		<td><a href="/quizes/<%= quizes[i].id %>/edit">Editar</a></td>
		<td>
			<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
				<button class="delete" type="submit" onClick="return confirm('Borrbuttonr: <%= quizes[i].pregunta %>');">
					Borrar
				</button>
			</form>
		</td>
	</tr>
	<% } %>
</table>
<br>
<form action="" method="get">
	<input type="text" name="search" placeholder="Búsqueda">
	<input type="submit" value="Buscar">
</form>
<br>
<p>
	<a href="/quizes/new">
		<button type="button">Crear Pregunta</button>
	</a>
</p>