<form action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta %></p>
	<p><input type="text" name="respuesta" placeholder="Respuesta"></p>
	<p><input type="submit" value="Enviar"></p>
</form>
<br>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Añadir Comentario</button></a></p>
<br>
<p><strong>Comentarios</strong></p>
<% for(var i in quiz.Comments) {%>
	<% if(quiz.Comments[i].publicado || session.user){ %>
		<p>- <%= quiz.Comments[i].texto %>
		<% if(session.user && !quiz.Comments[i].publicado){ %>
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish">
				<button> Publicar</button>
			</a>
		<% } %>
		</p>
	<% } %>
<% } %>